.fetaures{
    &-grid {
        display: grid;
        grid-template-columns: 1fr;           
        gap: 6vw 10vw;
        max-width: 920px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;

        @include breakpoint(medium){ 
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(large){       
            gap: 7vw 7vw;
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}